
/*headder area*/

/*===========navbar start======*/
@import url(./font.css);
@import url(./partials/_variables.css);
@import url(./partials/_global.css);


.header_area .main_menu .navbar .navbar-brand{
    padding: 0 2rem 0 5rem;
    
}
body{
    padding-bottom: 10rem;
}
/*
body{
    background-color: rgb(53, 49, 49);
    color: whitesmoke;
}
*/
.header_area .main_menu .navbar {
    padding: 1rem 16rem;
    }

header{
    color:black;
    background-color:  rgb(221, 25, 84);
}

.header_area .main_menu .nav-item .nav-link{
    /* smae thing in just one line
    font: normal 500 15px/2px var(--os);*/
    font-family: "OpenSans", cursive; 
    text-transform: uppercase;
    font-weight: 500;
    padding: 1.7rem;
    color: black;
}

.header_area .main_menu .navbar-nav .active a{
    background:  linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(52,197,183,1) 18%, rgba(253,242,45,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.header_area .main_menu .navbar-nav a:hover{
    background:  linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(52,197,183,1) 18%, rgba(253,242,45,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

/*=============navbar end============*/

/*banner area*/
.site-main .site-banner .site-title h3{
    padding-top: 35%;
    font-weight: 500;
    
}

.site-main .site-banner .site-title h1{
    font-size: 5rem;
       
}
.site-main .site-banner .site-title h3{
    font-size: 1.5rem;    
}
.site-main .site-banner .banner-image>img{
    padding: 7rem 0rem 7rem 10rem;
    
}


#here{
    float: right;
    position: relative;
}
.title-text{
    font: normal bold 50px/72px;
}

.text-uppercase{
    text-transform: capitalize;
}

/*start about area*/

.site-main .about-area{
    padding: 8rem 5rem;

}
.site-main .about-area .about-title h2>span{
    display: block;
    font: normal bold 49px/60px var(--os);
    letter-spacing: 10px;
}
.site-main .about-area .about-title .paragraph>p{
    padding: 2rem 0;
}
.site-main .about-area .img-fluid{
    float: right;
    padding-right:5rem;
    padding-top: 3rem;
    position: relative;

}

/*services area*/
.site-main .services-area{
    padding: 7rem 2rem;
}

.site-main .services-area .services-title{
    padding: 7rem 0rem ;
    font-family: var(--os);
    font-weight: bold;
}
.site-main .services-area .services-title h1{
    font-size: 45px;
}
.site-main .services-area .services{
    background: rgba(241, 234, 235, 0.808);
    padding: 2rem 0;
    width: 16rem;
    margin: 5rem 0.5rem;
    transition: box-shadow 0.7s ease;
    border-radius: 4px;
    border: lightgrey;
}

.site-main .services-area .services:hover{
    box-shadow: grey;
    border: lightgrey;
}