
/*headder area*/

#nehal{
    padding: 0 2rem 0 5rem;
    
}

.header_area .main_menu .navbar {
    padding: 1rem 16rem;
    }

header{
    color:black;
    background-color:rgb(146, 199, 47);
}

.header_area .main_menu .navbar .collapse .nav-item{
    
}