
/*headder area*/

.header_area.main_menu.navbar.navbar-brand {
    padding: 10px 200px 0 500px;
}

.header_area.main_menu.navbar {
    padding: 1rem 20rem;
}

header{
    color: rgb(124, 52, 190);
    background-color: rgb(241, 15, 121);
}

.header_area.main_menu.navbar {
    font-family: 'Lucida Sans';
    text-transform: uppercase;
    font-weight: 500;
    padding: 1.7rem;
    color: black;
}